<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">
                        <label for="search">Buscar productos, marcas y más</label>
                        <input type="search" id="search" name="search"></div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul><br>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

<body>
    <form class ="contenedor2" method="POST" action="/">
        <div class="contenedor-form">
            <div>
                <input class="main" type="text" name="fullName" id="fullName" placeholder="Nombre y Apellido">
            </div>
            <br>
            <div>
               <input class="main" type="text" name="nameUser" id="nameUser" placeholder="Nombre de Usuario">
            </div>
            <br>
            <div>
                <label for="birthDate">Fecha de Nacimiento</label>
                <br>
                <br>
                <input class="main" type="date" name="birthDate" id="birthDate">
            </div>
            <br>
            <div>
                <input class="main" type="text" name="address" id="address" placeholder="Direccion">
            </div>
            <br>
            <div>
                <p>Elija tipo de Usuario</p>
                <br>
                <label>Comprador <input type="radio" name="userType" value="buyer"></label>
                <label>Vendedor <input type="radio" name="userType" value="seller"></label>
            </div>
            <br>
            <div class="ele">
                <p>Intereses</p>
                <br>
                <label> <input type="checkbox" name="categories" value="buyer">Electro</label>
                <label> <input type="checkbox" name="categories" value="moda">Moda</label>
                <label> <input type="checkbox" name="categories" value="hogar">Hogar</label>
                <label> <input type="checkbox" name="categories" value="Jugueteria">Jugueteria</label>
                <label> <input type="checkbox" name="categories" value="vidasana">Vida Sana</label>
                
            </div>
<br>
            <div> 
                <label for="profilePhoto">Foto de Usuario</label>
                <input class="main" type="file" accept=",jpg, .png, .jpeg" name="profilePhoto" id="profilePhoto">
            </div>
<br>
            <div>

                <input class="main" type="password" name="password" id="password" placeholder="Ingrese Contraseña">

            </div>
<br>
            <div>
                
                <input class="main" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirme Contraseña">

            </div>

            <div class="boton"> 
                <button class="btn-login" type="submit">Enviar</button>
                <button class="btn-login" type="reset">Limpiar</button>
            </div>
        </div>
    </form>
    <footer>
        <div class="footer">
            <div class="icon">
                <i class="fas fa-credit-card"></i>
                <br>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p><br>
            </div>

            <div class="icon">
                <i class="fas fa-gift"></i>
                <br>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p><br>
            </div>

            <div class="icon">
                <i class="fas fa-user-shield"></i>
                <br>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
            
        </div>
        
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
            
    </footer>

</body>

</html>